.intro{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.btn_part{
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
}
