.Button {
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.2),
  15px 15px 15px rgba(0, 0, 0, 0.1),
  -10px -10px 10px rgba(255, 255, 255, 0.2) inset,
  15px 15px 15px rgba(0, 0, 0, 0.1) inset;
    text-decoration: none;
  color: white;
}
.Header {
  margin-top: -10px;
  margin-left: -10px;
  .goBack {
    padding: 0;
  }
}
