@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

$color_dark: #505050;
$color_light_brown: #DBD6B9;
$color_light_blue: #EBF5FB;

body {
  position: relative;
  background-color: $color_light_brown;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 10px;
  padding-top: 0;
  &:before {
    content:'';
    display: block;
    background-color: white;
    position: absolute;
    height: 30vh;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
  }
}
#root {
  z-index: 1;
}
* {
  font-family: 'Ubuntu', sans-serif;
}

.content {
  border-radius:  0 0 10px 10px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 40px);
  overflow: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  box-shadow: 0 0 5px -3px;
  background-color: white;
  position: relative;
  z-index:2;
  padding: 30px;
  @media (max-width: 380px) {
    padding: 20px;
    h1 {
      font-size: 40px;
    }
  }
  &:before {
    content: '';
    display: block;
    height: 500px;
    width: 500px;
    position: absolute;
    z-index: -1;
    top: -150px;
    right: -250px;
    border-radius: 50%;
    background-color: $color_light_blue;

  }
  & > div {
    box-sizing: border-box;

  }
}

h1, h2, h3, h4, h5, h6, p, a, li{
  color: $color_dark;
}

h1 {
  font-size: 50px;
  z-index:1;
}


//ANIMATION
@keyframes animateMain {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
  }
}
